#menu{
    background-color: gold;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    text-decoration: none;
    color: indianred;
    padding: 25px 30px;
}
#menu ul li a:hover{
    background-color: indianred;
    color: ivory;
}